* {
	box-sizing: border-box;
	font-family: Georgia, Serif;
}
.container {
	max-width: 700px;
	margin: 0 auto;
	background: white;
	padding: 10px;
	min-height: 100vh;
}

/* TodoInput */
input, button {
	border: 1px solid rgb(53,55,54);
	background: white;
	height: 30px;
    margin: 5px;
    padding: 4px 10px;
    font-size: 16px;
}
input:focus {
    outline:0;
}
button {
	cursor: pointer;
}
button:focus {
	outline:0;
}
button:hover {
	background: rgb(53,55,54);
	color: white;
}
.TodoInput-preview {
	padding: 5px;
	
}
/* TodoItem */
.TodoItem {
	width: 100%;
	position: relative;
	height: 40px;
	padding-top: 10px;
	padding-left: 10px;
}
.TodoItem--done {
	text-decoration: line-through;
}
.TodoItem:hover {
	background: rgb(220,220,220);
}
.TodoItem-buttonSection {
	position: absolute;
	right: 0px;
	top: 0px;
	
}
.TodoItem-button {
	display: inline-block;
	width: 90px;
}

.ClearComplete {
	margin: 5px;
	color: rgb(200,200,200);
	cursor: pointer;
}
.ClearComplete:hover {
	text-decoration: underline;
}